@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>

<address>
    <strong>Support:</strong>   <a href="https://chat.whatsapp.com/GdEiwlWS4318LxUByt5EN3">Link to WhatsApp</a><br />
</address>